<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-title>Forgot your password?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="http://placehold.it/300x100">
  <form [formGroup]="passwordResetForm" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address">
      </ion-input>
    </ion-item>

    <ion-button expand="block" (click)="passwordReset(passwordResetForm)" [disabled]="!passwordResetForm.valid">
      Reset your Password
    </ion-button>

  </form>

</ion-content>